.js-even
{
 background-color: blanchedalmond;
}
.js-odd
{
  background-color: blueviolet;
}
#pressed
{
  border-radius: 5px;
  height: 40px;
  width: 40px;
 

}
.main
{
  background-color: rgb(217, 224, 230);
}
.body
{
  background-color: rgb(156, 176, 190);
}